# Base dependencies
huggingface-hub
# transparent-background
# segment-anything
# groundingdino-py
# opencv-python
# onnxruntime
# onnxruntime-gpu
# protobuf
transformers
# diffusers

# #SAM2
# hydra-core
# omegaconf
# iopath

# #SAM3
# decord
# ftfy
# typing_extensions
#triton-windows

# fix
timm
